
body {
  position: absolute;
  width: 100%;
  background-color: #343a40;
}

.main{
  display: flex;
}

.playground{
  width: 50%;
  border-radius: 5px;
  height: 80vh;
  background-repeat: no-repeat;
  background-image: url("https://play.pokemonshowdown.com/sprites/gen6bgs/bg-city.jpg"); /* Podemos extraer bgs aleatorios reemplazando la ultima parte del vinculo*/
}

.titilePlayground{
  background-color: orange !important;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
  border-radius: 5px;
}

.charas{
  height: 47%;
}

.lifeBar{
  width: 50%;
  text-align: center;
  margin-left: 20%;
  margin-bottom: 5%;
}

.allyContainer{
  height: 50%;
  width: 50%;
  text-align: center;
}

.enemyContainer{
  height: 50%;
  width: 50%;
  margin-left: 50%;
  text-align: center;
}

.ally{
  min-width: 120px;
  min-height: 120px;
}
.enemy{
  min-width: 80px;
  min-height: 80px;
}

.playgroundFooter{
  height: 23.5%;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  align-items: center;
  border-radius: 5px;
  margin-top: 10%;
}
.footerP{
  text-align: center;
  width: 50%;
  font-size: 2.5vw;;
}
.botones{
  border-left: 1px solid rgb(255, 255, 255);;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  text-align: center;
}

.boton{
  width: 130px;
  height: 40px;
}

.logg{
  width: 50%;
}
.titleLog{
  background-color: orange !important;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
}
.logContent{
  width: 100%;
  height: 66.8vh;
  background-color: rgb(70, 59, 59);
  border-radius: 5px;
  padding-top: 1%;
}
.logContentTitle{
  background-color: orange !important;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  font-size: 1.3vw;
  margin: 4% auto;
}

.contentLogContent{
  height: 23vw;;
  width: 85%;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  margin-left: 8%;
}

.logList{
  padding: 4%;
  height: 98%;
}

.footer{
  width: 100%;
  height: 17.7vh;
  background-color: rgb(109, 109, 109);
}

@media screen and (max-width: 768px) {
  .main{
   display: block;
  }
  .playground{
    width: 100%;
    height: 80vh;
  }
  .titilePlayground{
    font-size: 4vw;
  }
  .playgroundFooter{
    margin-top: 17%;
  }
  .logg{
    width: 100%;
  }
  .titleLog{
    font-size: 3vw;
  }
  .logContentTitle{
    font-size: 3vw;
  }
  .logContent{
    width: 90%;
    margin-left: 5%;
  }
}