
body{
  position: absolute;
  width: 100%;
  background-color: #041C32;
}

.bgrd{
  background-color: #041C32;
}

.main{
  display: flex;
}

.playground{
  width: 50%;
  height: 80vh;
  background-repeat: no-repeat;
  background-image: url("https://play.pokemonshowdown.com/sprites/gen6bgs/bg-city.jpg"); /* Podemos extraer bgs aleatorios reemplazando la ultima parte del vinculo*/
}

.titilePlayground{
  background-color: #04293A;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
  border-radius: 5px;
  color: #ECB365;
}

.charas{
  height: 47%;
}

.lifeBar{
  width: 50%;
  text-align: center;
  margin-left: 27%;
  margin-bottom: 5%;
  
}

.allyContainer{
  height: 50%;
  width: 50%;
  text-align: center;
}

.enemyContainer{
  height: 50%;
  width: 50%;
  margin-left: 50%;
  text-align: center;
}

.ally{
  width: 120px;
  height: 130px;
}
.enemy{
  min-width: 80px;
  min-height: 80px;
  max-width: 120px;
  max-height: 120px;
}
.enemy:hover{
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(70%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s;
  
}
.enemyDown{
  width: 80px;
  height: 80px;
  filter: grayscale(100%) brightness(80%);
  transform: scale(1.1);
  margin-right: -10px;
}
.playgroundFooter{
  height: 23.5%;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  align-items: center;
  margin-top: 10%;
  background-color: #04293A;
}
.imgModal{
  height: 130px;
  width: 130px;
}
.footerP{
  text-align: center;
  width: 50%;
  font-size: 2.5vw;
  color: #ECB365;
}
.botones{
  border-left: 1px solid rgb(255, 255, 255);
  background-color: #04293A;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  text-align: center;
}

.boton{
  width: 130px;
  height: 40px;
  background-color: #064663;
}
.boton:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: #064663;
}

.logg{
  width: 50%;
}
.titleLog{
  background-color: #04293A;
  border-radius: 5px;
  color: #ECB365;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
}
.logContent{
  width: 100%;
  height: 66.8vh;
  background-color: #04293A;
  padding-top: 1%;
}
.logContentTitle{
  background-color: #064663;
  border-radius: 5px;
  text-align: center;
  height: 70px;
  width: 60%;
  font-size: 1.4vw;
  margin: 4% auto;
}
.titlecontentLog{
  color: #ECB365;
  padding-top: 15px;
  padding-top: 100;
}
.contentLogContent{
  height: 23vw;;
  width: 85%;
  background-color: #064663;
  margin-left: 8%;
}

.logList{
  padding: 4%;
  height: 98%;
}

.footer{
  width: 100%;
  height: 17.7vh;
}

@media screen and (max-width: 768px) {
  .main{
   display: block;
  }
  .playground{
    width: 100%;
    height: 80vh;
  }
  .titilePlayground{
    font-size: 4vw;
  }
  .playgroundFooter{
    margin-top: 17%;
  }
  .logg{
    width: 100%;
  }
  .titleLog{
    font-size: 3vw;
  }
  .logContentTitle{
    font-size: 3vw;
  }
  .logContent{
    width: 90%;
    margin-left: 5%;
  }
}