/* CSS principal del proyecto.
  TODO: 
  - Hacerlo responsivo, ya que se utilizan medidas fijas
  - Hacer el redimensionamiento correcto de las imagenes al reducir el tamaño de la ventana
  - Cambiar las fonts por unas que se adapten mejor a las del proyecto, no es necesario darle un toque retro
  o ser minimalistas, solo que los numeros sean legibles y hagan contraste adecuadamente con el recuadro.
  - Ocupar todo el espacio de la pagina
  - Preferentemente Utilizar un display: grid y evitar los flexbox, ya que el flexbox solo sirve para una sola fila, el grid
  es mejor para varias, y existen un kilometro de herramientas para hacer el ajuste y diseño con ellas, puedes
  encontrarlas como "css layout generator"
  - Cambiar el nombre de algunas clases/ids, ya que algunas son bastante confusas. Esto requiere modificar tambien
  el nombre de la clase desde el otro lado. */


body{
  position: absolute;
  width: 100%;
  background-color: #041C32;
}

.bgrd{
  background-color: #041C32;
}

.main{
  display: flex;
}

.playground{
  width: 50%;
  height: 90vh;
  background-repeat: no-repeat;
  background-image: url("https://play.pokemonshowdown.com/sprites/gen6bgs/bg-city.jpg"); /* Podemos extraer bgs aleatorios reemplazando la ultima parte del vinculo*/
}

.titilePlayground{
  background-color: #04293A;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
  border-radius: 5px;
  color: #ECB365;
}
.separador{
  width: 100%;
  height: 50px;

}
.charas{
  height: 47%;
}

.lifeBar{
  width: 170px;
  text-align: center;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 5px;
}
.lifeBar2{
  width: 170px;
  text-align: center;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 5px;
}

.allyContainer{
  height: 50%;
  width: 50%;
  text-align: center;
}

.enemyContainer{
  height: 50%;
  width: 50%;
  margin-left: 50%;
  text-align: center;
}

.ally{
  width: 120px;
  height: 130px;
}
.enemy{
  min-width: 80px;
  min-height: 80px;
  max-width: 120px;
  max-height: 120px;
}
.contentHpBar{
  margin-left: 60px;
  margin-bottom: 10px;
  background-color: rgb(63, 62, 61);
  width: 15vw;
  height: 98px;
  border-radius: 10px;
  padding-left: 1px;
}
.contentHpBarContent{
  background-color: rgb(145, 142, 142);
  margin: 1px;
  border-radius: 10px;
}

@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/pokemon_fire_red.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nombreBar{
  margin-left: 7px;
  font-family: 'MyFont','Rubik Vinyl';
  font-size: 1.25vw;
}

.nombreBarDerrotado{
  font-family: 'Rubik Vinyl', cursive;
  font-size: 1vw;
}
.porcentageBar{
  font-family: 'Rubik Vinyl', cursive;
  margin-top: 1px
}
.lifeBarContainer{
  background-color: #2e353b;
}
.enemy:hover{
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(70%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s;
}
.ally:hover{
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(70%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s;
}
.enemyDown{
  width: 80px;
  height: 80px;
  filter: grayscale(100%) brightness(80%);
  transform: scale(1.1);
  margin-right: -10px;
}
.playgroundFooter{
  height: 23.5%;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  align-items: center;
  margin-top: 10%;
  background-color: #04293A;
}
.imgModal{
  height: 130px;
  width: 130px;
}
.footerP{
  text-align: center;
  width: 50%;
  font-size: 2.5vw;
  color: #ECB365;
}
.botones{
  border-left: 1px solid rgb(255, 255, 255);
  background-color: #04293A;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  text-align: center;
}

.boton{
  width: 130px;
  height: 40px;
  
}
.boton:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: #064663;
}

.logg{
  width: 50%;
}
.titleLog{
  background-color: #04293A;
  border-radius: 5px;
  color: #ECB365;
  text-align: center;
  width: 50%;
  font-size: 2.3vw;
  margin: 4% auto;
}
.logContent{
  width: 100%;
  height: 66.8vh;
  background-color: #04293A;
  padding-top: 1%;
}
.logContentTitle{
  background-color: #064663;
  border-radius: 5px;
  text-align: center;
  height: 70px;
  width: 60%;
  font-size: 1.4vw;
  margin: 4% auto;
}
.titlecontentLog{
  color: #ECB365;
  padding-top: 15px;
  padding-top: 100;
}
.contentLogContent{
  height: 23vw;;
  width: 85%;
  background-color: #064663;
  margin-left: 8%;
}

.logList{
  padding: 4%;
  height: 98%;
}

.footer{
  width: 100%;
  height: 17.7vh;
}

@media screen and (max-width: 768px) {
  .main{
   display: block;
  }
  .playground{
    width: 100%;
    height: 80vh;
  }
  .titilePlayground{
    font-size: 4vw;
  }
  .playgroundFooter{
    margin-top: 17%;
  }
  .logg{
    width: 100%;
  }
  .titleLog{
    font-size: 3vw;
  }
  .logContentTitle{
    font-size: 3vw;
  }
  .logContent{
    width: 90%;
    margin-left: 5%;
  }
}